@page "/parent2child"

<h3>親から子コンポーネントへ伝達する</h3>

<div>
    体重を入力：<input type="number" @bind="Weight" />
</div>
<BlazorBind.Components.BmiChild @bind-Weight="Weight"></BlazorBind.Components.BmiChild>

@code {
    public double Weight { get; set; } = 60;
}

