@page "/address"

<h3>住所登録</h3>

<table class="table">
    <tr>
        <td>郵便番号</td>
        <td>
            <input type="text" @bind="zipCode" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>都道府県</td>
        <td>
            <select @bind="prefecture" class="form-control">
                @foreach (var it in prefectures)
                {
                    <option>@it</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>電話番号</td>
        <td>
            <input type="text" @bind="telephone" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>名前</td>
        <td>
            <input type="text" @bind="name" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>年齢</td>
        <td>
            <input type="number" @bind="age" class="form-control" />
        </td>
    </tr>
</table>
<div style="margin-top: 20px;">
    <button class="btn btn-primary" @onclick="onSubmit">登録</button>
</div>
<div style="margin-top: 20px;">
    @Message
</div>


@code {
    private string zipCode { get; set; }
    private string prefecture { get; set; }
    private string telephone { get; set; }
    private string name { get; set; }
    private int age { get; set; }
    private string Message { get; set; }
    private void onSubmit()
    {
        Message = "登録ありがとうございました.";
    }
    private string[] prefectures = new string[]
    {
        "北海道",
        "青森県",
        "岩手県",
    };

}

