@page "/addresscomp"

<h3>住所登録(コンポーネント)</h3>

<BlazorBmi.Components.AddressInput OnCommit="onCommit"></BlazorBmi.Components.AddressInput>
<div>
    @Message
</div>

@code {
    public string Message { get; set; } = string.Empty;
    private void onCommit(AddressItem addr)
    {
        Message = $"{addr.Name}さん、登録ありがとうございました。";
    }
}

