@page "/changefont"

<h3>スタイルでフォントサイズを変更</h3>

<div class="form-group">
    <label class="col-form-label">フォントサイズ</label>
    <input type="text" @bind="fontSize" class="form-control" />
</div>

<div>
    <label class="col-form-label">@fontSize</label>
    <div @bind-style="fontSize" @bind-style:event="onchange">フォントサイズを変更</div>
</div>

@code {
    private string fontSize { get; set; } = "font-size: 12pt";
}
