@page "/child2parent"

<h3>子から親コンポーネントへ伝達する</h3>

<div>
    体重を入力：<input type="number" @bind="Weight" />
</div>
<BlazorBmi.Components.BmiChildResult @bind-Weight="Weight" @bind-Result="Result"></BlazorBmi.Components.BmiChildResult>

<div>
    BMI結果：@Result
</div>

@code {
    public double Weight { get; set; } = 60;
    public double Result { get; set; }
}

