<tr>
    <td>@Item.Name</td>
    <td>@Item.Height</td>
    <td>@Item.Weight</td>
    <td>@Item.Bmi.ToString("00.0")</td>
</tr>

@code{
    //パラメーターで表示する要素を受ける
    [Parameter]
    public BmiItem Item { get; set; }

    //ChildContentは固定
    [Parameter]
    public RenderFragment ChildContnet { get; set; }
}